{% extends 'base.html' %} {% load bootstrap3 %} {% load static %} {% block content %} {{block.super}}
<div class="container mt-5">
  <div class="row mt-5"></div>
  <div class="row mt-5">
    {% if biz %}
    <h2>Found {{ biz|length }} of searched business {{message}}</h2> {% else %}
    <h2> Found 0 business for the search business {{message}}</h2> {% endif %}
  </div>
  <div class="row mt-1">
    {% if biz %} {% for business in biz %}
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
      <h3>{{business.name}}</h3>
      <p>Email us at: <i>{{business.business_email}}</i></p>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}
